<?xml version="1.0"?>
<robot name="sweepi" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include robot base definition -->
  <xacro:include filename="robot_base.xacro"/>

  <!-- Include sensors (camera and lidar) -->
  <xacro:include filename="camera.xacro"/>
  <xacro:include filename="lidar.xacro"/>
  <xacro:include filename="imu.xacro"/>
  <!-- <xacro:include filename="cliff_sensors.xacro"/> -->
  
  <!-- Include Gazebo base plugins and controller -->
  <xacro:include filename="robot_base_gazebo.xacro"/>

</robot>