<?xml version="1.0"?>
<robot name="sweepi" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include robot base definition -->
  <xacro:include filename="robot_base.xacro"/>

  <!-- Include sensors (camera and lidar) -->
  <xacro:include filename="camera.xacro"/>
  <!-- <xacro:include filename="lidar.xacro"/> -->


  <!-- Add this to your sweepi.urdf.xacro where you currently have lidar -->

  <!-- LIDAR Link (just geometry, no sensor) -->
  <link name="base_scan">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0508" length="0.055"/>
      </geometry>
      <material name="black"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0508" length="0.055"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.114"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>

  <!-- LIDAR Joint -->
  <joint name="scan_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_scan"/>
    <origin xyz="0.0 0.0 0.15" rpy="0 0 0"/>
  </joint>

</robot>
