SWEEPI_BUTTON_GPIO={{ sweepi_button_gpio }}
SWEEPI_LED_GPIO={{ sweepi_switch_bulb_gpio }}
SWEEPI_BUTTON_MODE={{ sweepi_button_mode }}
SWEEPI_BUTTON_ACTIVE_LOW={{ 1 if sweepi_button_active_low else 0 }}
SWEEPI_BUTTON_BOUNCE={{ sweepi_button_bounce_seconds }}
SWEEPI_BOOT_BLINK={{ sweepi_led_boot_interval_seconds }}
SWEEPI_STARTING_BLINK={{ sweepi_led_starting_interval_seconds }}
SWEEPI_START_SERVICE={{ sweepi_button_start_service }}
SWEEPI_HEALTH_URL={{ sweepi_api_health_url }}
SWEEPI_HEALTH_TIMEOUT={{ sweepi_api_health_timeout_seconds }}
