<?xml version="1.0"?>
<model>
  <name>SweePi</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Akhila Nisal</name>
    <email>wedamestrigean@gmail.com</email>
  </author>

  <description>
    SweePi differential drive robot with GPU LIDAR sensor.
    Cylinder body (0.2 m radius), two drive wheels, two caster wheels.
  </description>
</model>
