SWEEPI_BLE_NAME={{ sweepi_ble_name }}
SWEEPI_ROBOT_ID={{ sweepi_ble_robot_id }}
SWEEPI_BLE_SERVICE_UUID={{ sweepi_ble_service_uuid }}
SWEEPI_BLE_ROBOT_INFO_UUID={{ sweepi_ble_robot_info_uuid }}
SWEEPI_BLE_WIFI_CONFIG_UUID={{ sweepi_ble_wifi_config_uuid }}
SWEEPI_BLE_WIFI_SCAN_UUID={{ sweepi_ble_wifi_scan_uuid }}
SWEEPI_BLE_WIFI_STATUS_UUID={{ sweepi_ble_wifi_status_uuid }}
SWEEPI_BLE_SETUP_COMMAND_UUID={{ sweepi_ble_setup_command_uuid }}
SWEEPI_WIFI_INTERFACE={{ sweepi_wifi_interface }}
SWEEPI_NETPLAN_PATH={{ sweepi_ble_netplan_path }}
SWEEPI_CONNECT_TIMEOUT={{ sweepi_ble_connect_timeout_seconds }}
